body{ font-family: 'pt serif';}
header{
  border: #00296b solid;
  position: sticky;
  top: 0%;
  z-index: 0;
  background-image: linear-gradient(to bottom right, #00296b, #00509d);
  text-align: center;
  width: 100%;
}
.navborder{
  position:absolute;
  right: 20px;
  bottom: 3px;
}
button{
  background-color: #fdc500;
  border-radius: 15px;
}
div {
  width: 35px;
  height: 5px;
  background-color: #00296b;
  margin: 6px 0;
}
button:hover{background-color: #fbd200;}
div:hover{background-color: #3480fa;}
#myDropdown a:link{text-decoration: none;}
#myDropdown a:hover{background-color: rgba(10, 124, 231, 0.8); font-size: x-large; text-decoration: none;}
#myDropdown a:active{color: black;}
.dropdown-content {
  display: none;
  list-style: none;
  text-align: left;
  position: absolute;
  min-width: 100px;
  right: 20px;
  overflow: auto;
  z-index: 1;
  box-shadow: 0px 8px 8px 0px #00296b;
  background-color: rgb(250, 211, 18, 0.70);
}
.show {display: block;}
.logo{position:absolute; left: 2px; margin: 0px;}
h1{ color: #fdc500; font-size: 60px; font-stretch:extra-expanded;text-shadow: #fbd200 100px;}
footer{
  border: #00296b solid;
  position: relative;
  bottom: 0%;
  background-image: linear-gradient(to top, #00296b, #00509d);
  width: 100%;
  text-align: center;
  z-index: 0;
}
#wit a:hover{ background-color: black; font-size: xx-large;color:#fbd200;}
#wit a :active{ color: #00296b;}
